@import './components/OnlineRoom.css';
.App {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #6fa5b1;
  position: relative;
  overflow: hidden;
}

.App .header {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 8px 24px;
}

.App .header h3{
  margin-right:16px;
  cursor: pointer;
  color: #1f2837;
}

.App .header h3.active{
  text-decoration: underline;
  color: #32476f;
}

.App .reset {
  padding: 8px 16px;
  background: #4e6b9f;
  border: 0;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: background-color .4s ease-in-out;
  margin-left: auto;
}

.App .reset:hover {
  background-color: #32476f;
}

.App form {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.App h2 span{
  font-size: 5rem;
  font-weight: 400;
}
.App table {
  border-spacing: 0;
  transform: skewX(-2deg);
  height: 30vmax;
  margin: 32px auto;
}
.App table td {
  width: 20vmin;
  height: 20vmin;
  font-size: 10vmin;
  font-weight: lighter;
  border: 4px solid #4e6b9f;
  cursor: pointer;
}

.App table tr:first-child td{
  border-top: 0px;
}
.App table tr:last-child td{
  border-bottom: 0px;
}
.App table tr td:first-child{
  border-left: 0px;
}
.App table tr td:last-child{
  border-right: 0px;
}
