.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
table {
  width: 80vmin;
}

table td{
  max-width: 20vmin;
  height: 20vmin;
  background-color: antiquewhite;
}
